<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TraitementServlet</display-name>
    <servlet-name>TraitementServlet</servlet-name>
    <servlet-class>calc.TraitementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitementServlet</servlet-name>
    <url-pattern>/TraitementServlet</url-pattern>
  </servlet-mapping>
  <display-name>mini-calculatrice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormulaireStatiqueServlet</display-name>
    <servlet-name>FormulaireStatiqueServlet</servlet-name>
    <servlet-class>calc.FormulaireStatiqueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireStatiqueServlet</servlet-name>
    <url-pattern>/FormulaireStatiqueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformeVictoryServlet</display-name>
    <servlet-name>InformeVictoryServlet</servlet-name>
    <servlet-class>calc.InformeVictoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformeVictoryServlet</servlet-name>
    <url-pattern>/InformeVictoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformeEchecServlet</display-name>
    <servlet-name>InformeEchecServlet</servlet-name>
    <servlet-class>calc.InformeEchecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformeEchecServlet</servlet-name>
    <url-pattern>/InformeEchecServlet</url-pattern>
  </servlet-mapping>
</web-app>